<div class="panel panel-primary">
  <div class="panel-heading">
      <h3>{{pageTitle}}</h3>
  </div>
  <div class="panel-body"  >
      <div class="row">
        <img src="../../assets/images/veryfuny.gif" alt="" class="img img-fluid">
      </div>
      <div class="row"  >
        <h2 class="text-center well">I knew I can do it<br>Do you trust me now</h2>
      </div>
      <div class="row">
        <button class="btn btn-primary btn-lg" (click)='onHome()'>Home</button>
      </div>
  </div>
</div>
