<div class="panel panel-primary">
  <div class="panel-heading">
      <h3>{{pageTitle}}</h3>
  </div>
  <div class="panel-body"  >
      <div class="row">
        <img src="../../assets/images/learning.gif" alt="" class="img img-fluid">
      </div>
      <div class="row"  >
        <h2 class="text-center well">Than you for your help<br>Have fun and start the game again</h2>
      </div>
      <div class="row">
        <button class="btn btn-primary btn-lg" (click)='onHome()'>Home</button>
      </div>
  </div>
</div>
