
    <canvas id="myCanvas" width="200" height="100" style="position: absolute;top:55px;left:0px;z-index:-10">
      Your browser does not support the HTML5 canvas tag.</canvas>
<div class="content text-center">
<table id="diagramTable" style="margin:auto;text-align: center">
<tr>
  <td>
      |<br><a class="btn" href="#">Q</a>
    <table>
        <tr>
          <td>
              |<br><a id="123" class="btn" href="#">Q</a>
              <table>
                  <tr>
                    <td>
                        |<br> <a id="234" class="btn" href="#">Q</a>
                    </td>
                    <td>
                        |<br><a class="btn" href="#">Q</a>
                    </td>
                  </tr>
                </table>
          </td>
          <td>
              |<br><a class="btn" href="#">Q</a>
            <table>
                <tr>
                  <td>
                      |<br><a class="btn" href="#">Q</a>
                    <table>
                        <tr>
                          <td>
                              |<br><a class="btn" href="#">Q</a>
                          </td>
                          <td>
                              |<br><a class="btn" href="#">Q</a>
                            <table>
                                <tr>
                                  <td>
                                      |<br><a class="btn" href="#">Q</a>
                                    <table>
                                        <tr>
                                          <td>
                                              |<br><a class="btn" href="#">Q</a>
                                          </td>
                                          <td>
                                              |<br><a class="btn" href="#">Q</a>
                                          </td>
                                        </tr>
                                      </table>
                                  </td>
                                  <td>
                                      |<br><a class="btn" href="#">Q</a>
                                    <table>
                                        <tr>
                                          <td>
                                              |<br><a class="btn" href="#">Q</a>
                                          </td>
                                          <td>
                                              |<br><a class="btn" href="#">Q</a>
                                          </td>
                                        </tr>
                                      </table>
                                  </td>
                                </tr>
                              </table>
                          </td>
                        </tr>
                      </table>
                  </td>
                  <td>
                      |<br><a class="btn" href="#">Q</a>
                  </td>
                </tr>
              </table>
          </td>
        </tr>
      </table>
  </td>
  <td>
      |<br><a class="btn" href="#">S</a>
  </td>
</tr>
</table>
</div>
<br><br><br><br><br><br>
<button id ="btn1">add</button>

<br><br><br><br><br>
