<div class="panel panel-primary">
  <div class="panel-heading">
      <h3>{{pageTitle}}</h3>
  </div>
  <div class="panel-body"  >
      <div class="row" >
          <img src="./assets/images/logo.jpg"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px"/>
      </div>
      <div class="row"  >
        <h2 class="text-center">Welcome to the <b>"Guess the animal"</b> game!</h2>

        <p class="text-center">This game was developed as part of the full stack course<br>
                               To start press "start" from the menu </p><br><br>
      </div>
      <div class="row">
        <button class="btn btn-primary btn-lg" (click)='onGoToQuiz()'>Go to game</button>
      </div>
  </div>
</div>
